*{
	// animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.error-class {
	border-color: $theme-color-count;
	color: $theme-error;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.error-message {
	font-size: 12px;
	font-weight: bold;
	color: $theme-error;
	display: inline-block;
	width: 100%;
	background: #ffe7e7;
	// padding: 5px;
	// border: 1px solid $theme-color-count;
	// border-top: none;
}

.form-control.input{
	background: $white !important;
}

.toaster {
	top: 70px;
	opacity: 1 !important;
	right: 10px;
	animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

@-webkit-keyframes fpFadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fpFadeInDown {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -20px, 0);
			  transform: translate3d(0, -20px, 0);
	}
	to {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
			  transform: translate3d(0, 0, 0);
	}
  }

  .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label{
	  font-size: 14px;
	  font-weight: bold;
  }

  .form-control, .form-select{
	  &:focus{
		  border-color: lighten($theme-color-new, 30%);
		  box-shadow: none;
	  }
  }